<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Node Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href=""> -->
        <style>
            @import url(https://fonts.googleapis.com/css?family=Raleway:600);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #24adda;
}

.wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form{
margin: 20px;
}
button{
  background: rgb(5, 60, 103);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: bold;
}
button:hover{
  opacity: 0.8;
}
        </style>
    </head>
    <body>
      <div class="wrap">

       

          <form action="/registration" method="get">
            <button type="submit">Register</button>
          </form>
          <form action="/login" method="get">
            <button type="submit">Login</button>
          </form>
        </div>
    </body>
</html>